  <div class="page-header section-dark" style="background-image: url('{{ section.settings.image | img_url: '1000x', format: 'pjpg' }}')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h2 class="presentation-title">{{ section.settings.title | escape }}</h2>
          <div class="fog-low" style="z-index: 0;">
            <img class="lazyload" data-expand="-10" data-src="{{ 'fog-low.png' | asset_url }}" alt="">
          </div>
          <div class="fog-low right" style="z-index: 0;">
            <img class="lazyload" data-expand="-10" data-src="{{ 'fog-low.png' | asset_url }}" alt="">
          </div>
       {% if section.settings.button_label != blank and section.settings.button_link != blank %}
          <a style="z-index: 1; position: relative;" href="{{ section.settings.button_link }}" class="btn btn-outline-neutral btn-round btn-lg" target="_blank">{{ section.settings.button_label | escape }}</a>
	   {% endif %}
        </div>
      </div>
    </div>
    <div class="moving-clouds lazyload" style="z-index: 0;" data-expand="-25" data-bg="{{ section.settings.floating_image | img_url: '1000x' }}"></div>
    <h6 class="category category-absolute">{{ section.settings.text | truncate: '50' }}
    </h6>
  </div>


{% schema %}
  {
    "name": "Motion banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "floating_image",
        "label": "Floating image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with card flip"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Motion banner",
        "category": "Image"
      }
    ]
  }
{% endschema %}
